@{
    ViewBag.Title = "Home Page";
}

<head>  
</head>

<body style="width:100%; height:100%">
    <div style="width:100%">
        <h1 style="text-align:center">DNion Market</h1>
        <p class="lead" style="text-align:center">
            DNion Market merupakan salah satu website yang akan menyediakan segala kebutuhan anda, mulai dari
            makanan, pakaian, hingga peralatan rumah.
        </p>
    </div>


    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color:whitesmoke;opacity:0.5;height:200px;" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="color:black;">
            <div class="item active">
                <div style="text-align:center">
                    <br />
                    <br />
                    <h2>Getting started</h2>
                    <p style="font-size:15px">
                        Kami terus berkembang untuk menciptakan pelayanan yang maksimal dan memberikan anda kepuasan dalam berbelanja.
                    </p>
                    </div>
            </div>

            <div class="item" style="text-align:center;">
                <div>
                    <br />
                    <br />
                    <h2>Coming Soon</h2>
                    <p style="font-size:15px">
                        DNion Market akan hadir ke dalam rumah anda, khususnya gadget anda! Anda dapat berbelanja produk pakan dan peralatan
                        rumah dari rumah dan kami akan mengirim produk anda ke depan pintu rumah anda.
                    </p>
                </div>
            </div>
        </div>

        <div></div>
</body>